    @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Handlee|Satisfy|Special+Elite&display=swap');
    .title {
        text-align: center;
        font-size: 4em;
        font-family: 'Special Elite', cursive;
    }
    
    .subtitle {
        text-align: center;
        font-family: 'Special Elite', cursive;
        font-size: 2em;
    }
    
    p {
        text-align: justify;
        font-size: 1.2em;
        font-family: 'Handlee', cursive;
    }
    
    h2 {
        font-weight: bold;
        font-family: 'Handlee', cursive;
        font-size: 1.5em;
    }
    
    #Menu {
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0%;
    }
    
    .nav {
        width: 100%;
        transition: 0.5s;
        align-items: center;
        position: fixed;
        background-color: black;
        top: 0;
        font-family: 'Special Elite', cursive;
        font-size: 1.2em;
    }
    
    .navbar-brand a {
        color: #fff;
    }
    
    .navbar-brand a:hover {
        color: white;
    }
    
    .navbar-item {
        color: #BBBBBB;
        margin: 0 auto;
    }
    
    header {
        background-image: url(../img/fundo.jpg);
        height: 500px;
        position: relative;
    }
    
    header img {
        width: 75%;
        margin: 0 10%;
        position: relative;
    }
    
    #Sobre {
        background-image: url("../img/FundoSobre.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 600px;
    }
    
    .columns {
        justify-content: center;
    }
    
    #Serviços {
        background-color: black;
    }
    
    .all {
        perspective: 1000;
        overflow: hidden;
        border: 13px solid #000;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 500px;
        transition: all 0.5s;
    }
    
    .Dica .flipper {
        transform: rotateY(180deg);
    }
    
    .front {
        width: 100%;
        height: 700px;
        transition: all 0.5s;
        overflow: hidden;
    }
    /* define a velocidade da transição */
    
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
    /* esconde o verso durante a animação */
    
    .front,
    .back {
        backface-visibility: hidden;
        position: absolute;
    }
    /* frente posicionada sobre o verso */
    
    .front {
        z-index: 2;
    }
    /* verso inicialmente escondido */
    
    .back {
        margin-top: 3%;
        transform: rotateY(180deg);
    }
    /* Edição dos cards */
    
    #Serviços {
        background-color: #111213;
    }
    
    #Serviços .title,
    #Serviços .subtitle {
        color: #fff;
    }
    
    .front img {
        width: 100%;
        height: 250px;
        border-radius: 10px 10px 0px 0px;
    }
    
    .text {
        padding: 30px;
    }
    
    .text .title {
        color: white;
        text-align: center;
        font-weight: bold;
        font-family: 'Handlee', cursive;
        font-size: 1.6em;
    }
    
    .text .subtitle {
        color: white;
        text-align: center;
        font-size: 1.2em;
    }
    
    .text p {
        margin-top: 10px;
        text-align: center;
        color: white;
        font-size: 1.4em;
        font-family: 'Handlee', cursive;
    }
    
    .button {
        font-family: 'Handlee', cursive;
        width: 100%;
        padding: 5%;
        border: 2px solid #000;
        font-size: 1.4em;
        color: white;
        margin-top: 20px;
        background-color: black;
    }
    
    .button:hover {
        color: white;
    }
    
    .button:focus {
        border-color: rgba(0, 0, 0, 0);
        color: white;
    }
    
    .button:active {
        border-color: rgba(0, 0, 0, 0);
        color: white;
    }
    
    #Time {
        background-color: white;
    }
    
    figure img {
        margin-left: 25%;
        margin-top: 5%;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    }
    
    a:link {
        color: #4a4a4a;
        text-decoration: underline;
    }
    
    a:visited {
        color: #4a4a4a;
        text-decoration: underline;
    }
    
    a:hover,
    a:active,
    a:focus {
        color: #000;
        text-decoration: none;
    }
    
    .card-content .subtitle {
        font-size: 1.5em;
    }
    
    .icons {
        font-size: 2em;
        width: 100%;
    }
    
    i {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
    }
    
    a:link {
        text-decoration: none;
    }
    
    #Info {
        background-color: black;
    }
    
    #Info .subtitle,
    #Info p {
        color: #fff;
        text-align: center;
    }
    
    #Info .title {
        color: #fff;
    }
    
    #Info i {
        display: flex;
        justify-content: center;
        color: #fff;
        margin-bottom: 10%;
        margin-left: 20%;
    }
    
    #Mapa {
        background-color: black;
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }