    @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Handlee|Satisfy|Special+Elite&display=swap');
    .title {
        text-align: center;
        font-size: 400%;
        font-family: 'Special Elite', cursive;
    }
    
    p {
        text-align: justify;
        font-size: 120%;
        font-family: 'Handlee', cursive;
    }
    
    .subtitle {
        text-align: center;
        font-family: 'Special Elite', cursive;
        font-size: 200%;
    }
    
    h2 {
        font-weight: bold;
        font-family: 'Handlee', cursive;
        font-size: 150%;
    }
    
    #Menu {
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0%;
    }
    
    .nav {
        width: 100%;
        transition: 0.5s;
        align-items: center;
        position: fixed;
        background-color: black;
        top: 0;
        font-family: 'Special Elite', cursive;
        font-size: 120%;
    }
    
    .navbar-brand a:hover {
        color: white;
    }
    
    .navbar-item {
        color: #BBBBBB;
        margin: 0 auto;
    }
    
    header {
        background-image: url(../img/fundo.jpg);
        height: 500px;
        position: relative;
    }
    
    header img {
        width: 75%;
        margin: 0 10%;
        position: relative;
    }
    
    #Sobre {
        background-image: url("../img/FundoSobre.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 600px;
    }
    
    .columns {
        justify-content: center;
    }
    
    #Serviços {
        background-color: black;
    }
    
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 650px;
        /* flex-direction: column; */
    }
    
    li {
        flex: 1;
        display: flex;
        align-items: stretch;
        cursor: pointer;
        transition: all .8s ease;
        box-shadow: inset 500em 700em rgba(0, 0, 0, 0.0);
    }
    
    li:hover {
        flex: 1.5;
        transition: all .5s;
        overflow: hidden;
        box-shadow: inset 500em 700em rgba(0, 0, 0, 0.5);
    }
    
    li.nohover {
        flex: none;
        /* transition: none; */
        overflow: none;
        transform: none;
        /* box-shadow: none; */
    }
    
    li.active {
        flex: 10;
        cursor: pointer;
    }
    
    li.active:hover {
        opacity: 1;
        box-shadow: inset 500em 700em rgba(0, 0, 0, 0.0);
    }
    
    li h2 {
        margin-left: 0;
        padding: 0;
        color: #fff;
        font-weight: 500;
        font-size: 40px;
        transform: rotate(-90deg);
        white-space: nowrap;
        font-family: 'Special Elite', cursive;
    }
    
    .section-title {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    li .section-content {
        margin-left: 40%;
        flex: 1;
        opacity: 1;
        color: rgb(133, 120, 118);
        right: 0;
        /* visibility: hidden; */
    }
    
    .section-content {
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
        opacity: 0;
        transition: all .25s .1s ease-out;
    }
    
    #Time {
        background-color: white;
    }
    
    .content {
        text-align: justify;
    }
    
    .card {
        margin: 2%;
    }
    
    .card .box:hover {
        box-shadow: 0 5px 7px rgba(0, 0, 0, 0.75);
    }
    
    .grounded {
        width: 110%;
        margin-bottom: -25px;
    }
    
    #Info {
        background-color: black;
    }
    
    #Info .subtitle {
        text-align: left;
    }
    
    .input,
    .textarea {
        margin-bottom: 1%;
        border: 2px solid #000;
        border-bottom-color: #fff;
        border-bottom-width: 2px;
        background-color: #000;
        color: #fff;
        font-family: 'Handlee', cursive;
    }
    
    .input:hover,
    .textarea:hover {
        border: 2px solid #fff;
        color: #fff;
    }
    /* Após ser selecionado */
    
    .input:focus,
    .textarea:focus {
        border: 2px solid #fff;
        color: #fff;
    }
    /* O que há dentro do placeholder */
    
    .input::placeholder,
    .textarea::placeholder {
        color: #fff;
        font-family: 'Handlee', cursive;
    }
    /* O que há dentro do placeholder quando o mouse é passado */
    
    .input:hover::placeholder,
    .textarea:hover::placeholder {
        color: #fff;
        font-family: 'Handlee', cursive;
    }
    
    .button {
        background-color: #000;
        border: 1px solid #000;
        border-bottom-color: #fff;
        border-bottom-width: 2px;
        padding: 1.4%;
        color: #fff;
        font-family: 'Handlee', cursive;
    }
    
    .button:hover {
        background-color: #000;
        color: #fff;
        border: 2px solid #fff;
    }
    
    #Mapa {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 20px;
    }